<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <settings>
      <!--  AZURE AD - Application ID
              GUID identifier obtained from the Azure Portal.
              e.g. 82692da5-a86f-44c9-9d53-2f88d52b478b
      -->
      <setting name="AzureAD.ApplicationId">
        <patch:attribute name="value">67bce02d-9e83-4a5c-b719-475b573c96a7</patch:attribute>
      </setting>
      <!--  AZURE AD - Tenant
              Host name of the Azure tenant
              e.g. sitecore.onmicrosoft.com
      -->
      <setting name="AzureAD.Tenant">
        <patch:attribute name="value">perficient.onmicrosoft.com</patch:attribute>
      </setting>
      <!--  AZURE AD - INSTANCE URL
              URL for the Azure instance to connect to. This may be different if you are using Azure Government of Azure in China.
              default: https://login.microsoftonline.com/{0}
      -->
      <setting name="AzureAD.InstanceUrl">
        <patch:attribute name="value">https://login.microsoftonline.com/{0}</patch:attribute>
      </setting>
      <!--  AZURE AD - REDIRECT URL
              URL to redirect to after login
              e.g. https://sitecore.com/signin-azuread
      -->
      <setting name="AzureAD.RedirectUrl">
        <patch:attribute name="value">http://sask.local/sitecore</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>