<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <settings>
            <!--  AZURE AD - CLIENT ID
                    GUID identifier obtained from the Azure Portal.
                    e.g. 82692da5-a86f-44c9-9d53-2f88d52b478b
            -->
            <setting name="AzureAD.ClientId">
                <patch:attribute name="value">82692da5-a86f-44c9-9d53-2f88d52b478b</patch:attribute>
            </setting>
	        <!--  AZURE AD - INSTANCE URL
                    URL for the Azure instance to connect to. This may be different if you are using Azure Government of Azure in China.
                    default: https://login.microsoftonline.com/{0}
            -->
	        <setting name="AzureAD.InstanceUrl">
		        <patch:attribute name="value">https://login.microsoftonline.com/{0}</patch:attribute>
	        </setting>
	        <!--  AZURE AD - REDIRECT URL
                    URL to redirect to after login
                    e.g. https://sitecore.com/signin-azuread
            -->
	        <setting name="AzureAD.RedirectUrl">
		        <patch:attribute name="value">http://sitecore.local/sitecore</patch:attribute>
	        </setting>
        </settings>
    </sitecore>
</configuration>