<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <settings>
            <!--  GOOGLE - CLIENT ID
                    Identifier for the Google application registration.
                    e.g. xxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
            -->
            <setting name="Google.ClientId">
                <patch:attribute name="value">xxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com</patch:attribute>
            </setting>
            <!--  GOOGLE - CLIENT SECRET
                    Secret for the Google application registration.
                    e.g. 2_UtQQXcAT1FfBj0hfWep9TL
            -->
            <setting name="Google.ClientSecret">
                <patch:attribute name="value">2_UtQQXcAT1FfBj0hfWep9TL</patch:attribute>
            </setting>
        </settings>
    </sitecore>
</configuration>