<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <settings>
            <!--  GOOGLE - CLIENT ID
                    Identifier for the SAML2-compatible service.
                    Typically the URL of the application for authentication.
                    e.g. http://sitecore.local/sitecore
            -->
            <setting name="Google.ClientId">
                <patch:attribute name="value">266353263249-a4qvdjt1f1is286d970no6l6642i779d.apps.googleusercontent.com</patch:attribute>
            </setting>
            <!--  GOOGLE - CLIENT SECRET
                    The URL for the service to return to after successful authentication.
                    e.g. http://sitecore.local/sitecore
            -->
            <setting name="Google.ClientSecret">
                <patch:attribute name="value">2_UtUQXcAT4FfBq4hfZsnrTL</patch:attribute>
            </setting>
        </settings>
    </sitecore>
</configuration>