<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <settings>
            <!--  FACEBOOK - APPLICATION ID
                    Identifier for the Facebook application registration.
                    e.g. 2135793426773410
            -->
            <setting name="Facebook.ApplicationId">
                <patch:attribute name="value">2135793426773410</patch:attribute>
            </setting>
            <!--  FACEBOOK - APPLICATION SECRET
                    Secret for the Facebook application registration.
                    e.g. c0f3a13d237a33910530f30de17c212c
            -->
            <setting name="Facebook.ApplicationSecret">
                <patch:attribute name="value">c0f3a13d237a33910530f30de17c212c</patch:attribute>
            </setting>
        </settings>
    </sitecore>
</configuration>