<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <settings>
            <!--  SAML2 - SERVICE PROVIDER ENTITY ID
                    Identifier for the SAML2-compatible service.
                    Typically the URL of the application for authentication.
                    e.g. http://sitecore.local/sitecore
            -->
            <setting name="SAML2.ServiceProvider.EntityId">
                <patch:attribute name="value">http://sask.local/sitecore</patch:attribute>
            </setting>
            <!--  SAML2 - SERVICE PROVIDER RETURN URL
                    The URL for the service to return to after successful authentication.
                    e.g. http://sitecore.local/sitecore
            -->
            <setting name="SAML2.ServiceProvider.ReturnUrl">
                <patch:attribute name="value">http://sask.local/sitecore</patch:attribute>
            </setting>
            <!--  SAML2 - IDENTITY PROVIDER ENTITY ID
                    Identifier of the identity provider as supplied by the IdP.
                    This can be found in the metadata XML document as a property of the <EntityDescriptor> tag.
                    For Azure AD, this is https://sts.windows.net/<Directory ID>
            -->
            <setting name="SAML2.IdentityProvider.EntityId">
                <patch:attribute name="value">https://sts.windows.net/243bd71d-cef7-442d-b37f-3ff10a3e2832/</patch:attribute>
            </setting>
            <!--  SAML2 - IDENTITY PROVIDER METADATA LOCATION
                    URL to the location of the metadata document for the IdP.
                    This should return an XML document with the root node of <EntityDescriptor>.
                    For Azure AD, this is labeled as the "Federation Metadata" endpoint.
            -->
            <setting name="SAML2.IdentityProvider.MetadataLocation">
                <patch:attribute name="value">https://login.microsoftonline.com/243bd71d-cef7-442d-b37f-3ff10a3e2832/federationmetadata/2007-06/federationmetadata.xml</patch:attribute>
            </setting>
        </settings>
    </sitecore>
</configuration>