<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <settings>
            <!--  WS-FEDERATION - METADATA ADDRESS
                    Identifier for the SAML2-compatible service.
                    Typically the URL of the application for authentication.
                    e.g. http://sitecore.local/sitecore
            -->
            <setting name="WsFederation.MetadataAddress">
                <patch:attribute name="value">https://adfs-test.eastus.cloudapp.azure.com/FederationMetadata/2007-06/FederationMetadata.xml</patch:attribute>
            </setting>
            <!--  WS-FEDERATION - WTREALM
                    The URL for the service to return to after successful authentication.
                    e.g. http://sitecore.local/sitecore
            -->
            <setting name="WsFederation.Wtrealm">
                <patch:attribute name="value">http://dh9.local/sitecore</patch:attribute>
            </setting>
        </settings>
    </sitecore>
</configuration>