<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<federatedAuthentication>
			<identityProviders>
				<identityProvider id="Federation" type="Sitecore.Owin.Authentication.Configuration.DefaultIdentityProvider, Sitecore.Owin.Authentication">
					<param desc="name">$(id)</param>
					<param desc="domainManager" type="Sitecore.Abstractions.BaseDomainManager" resolve="true" />
					<caption>Login with Active Directory</caption>
					<domain>sitecore</domain>
          <!--<transformations hint="list:AddTransformation">
            <transformation name="Idp Claim" ref="federatedAuthentication/sharedTransformations/setIdpClaim" />
            <transformation name="Name Identifier Claim" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier" />
              </targets>
              <keepSource>false</keepSource>
            </transformation>
          </transformations>-->
				</identityProvider>
			</identityProviders>
			<identityProvidersPerSites>
				<mapEntry name="Federation" type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication">
					<sites hint="list">
						<site>shell</site>
						<site>login</site>
						<site>admin</site>
						<site>service</site>
						<site>modules_shell</site>
						<site>modules_website</site>
						<site>website</site>
						<site>scheduler</site>
						<site>system</site>
						<site>publisher</site>
					</sites>
					<identityProviders hint="list:AddIdentityProvider">
						<identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='Federation']" />
					</identityProviders>
					<externalUserBuilder type="Sitecore.Owin.Authentication.Services.DefaultExternalUserBuilder, Sitecore.Owin.Authentication">
						<param desc="isPersistentUser">false</param>
					</externalUserBuilder>
				</mapEntry>
			</identityProvidersPerSites>
			<propertyInitializer type="Sitecore.Owin.Authentication.Services.PropertyInitializer, Sitecore.Owin.Authentication">
            <maps hint="list">
              <map name="Federationadmin" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication">
                <data hint="raw:AddData">
                  <source name="idp" value="Federation" />
                  <target name="IsAdministrator" value="true" />
                </data>
              </map>
            </maps>
          </propertyInitializer>
		</federatedAuthentication>
	</sitecore>
</configuration>